<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Control Panel</h1>

    <div class="button-container">
        <button onclick="sendCommand('/sensor', 'Sensor Code Restarting')">Turn on Sensor</button>
        <button onclick="sendCommand('/sensoroff', 'Sensor Off Running')">Turn off Sensor</button>
        <button onclick="sendCommand('/pump', 'Pump Code Restarting... Running')">Turn on Pump</button>
        <button onclick="sendCommand('/valve', 'Valve Code Restarting... Running')">Open/Close Valves</button>
    </div>

    <p id="output" style="margin-top: 40px; font-size: 20px;"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
